body {
  /*background-color: #660000;*/
  background-color: #1f2833;
  color: #c5c6c7;
  font-family: 'Noto Sans JP', sans-serif;
  margin: auto;
  max-width: 1280px;
}

header {
  color: #66fcf1;
}

a {
  text-decoration: none;
}

#profile-pic{
  border-style: solid;
  border-color: #45a29e;
  border-width: 5px;
}

div > img {
  border-style: solid;
  border-color: #45a29e;
  border-width: 2px;
  background-color: black;
}

.navbar {
  background-color: #45a29e;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

